.userInfosTable {
  margin: 20px auto;
  width: fit-content;
  padding-block: 20px;
  border-collapse: collapse;
  color: white;
}

.tableTitle {
  font-size: 2em;
  padding-bottom: 20px;
}

.userInfosTable td {
  text-align: left;
  font-size: 1rem;
  padding: 6px;
}

.userInfosTable input::placeholder {
  color: black;
}
